@font-face {
    font-family: noto-sans-regular;
    src: url("/assets/fonts/noto-sans/NotoSans-Regular.ttf");
}

@font-face {
    font-family: noto-sans-light;
    src: url("/assets/fonts/noto-sans/NotoSans-Light.ttf");
}

@font-face {
    font-family: noto-sans-medium;
    src: url("/assets/fonts/noto-sans/NotoSans-Medium.ttf");
}

@font-face {
    font-family: noto-sans-semibold;
    src: url("/assets/fonts/noto-sans/NotoSans-SemiBold.ttf");
}

@font-face {
    font-family: noto-sans-bold;
    src: url("/assets/fonts/noto-sans/NotoSans-Bold.ttf");
}

@font-face {
    font-family: noto-sans-black;
    src: url("/assets/fonts/noto-sans/NotoSans-Black.ttf");
}